.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.footer .subtitulo {
  color: #fff;
  text-transform: uppercase;
  grid-column-start: 1;
}

.footer-descricao {
  grid-column-start: 2;
  grid-row-start: 2;
}

.footer-descricao .footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  /* grid-column-start: 2;
  grid-row-start: 2; */
  padding-bottom: 40px;
  text-align: center;
}

.footer-descricao .footer-ilustracao {
  /* grid-column-start: 2;
  grid-row-start: 2; */
  width: 70%;
  margin: auto;
}

.footer-contato {
  align-content: start;
  grid-column-start: 1;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 30px;
  align-content: start;
}

.footer-contato a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.footer-contato p {
  padding-left: 10px;
}

.footer-contato li {
  border-radius: 4px;
  padding: 5px;
  transition: 0.5s;
}
.footer-contato li:hover {
  background-color: #8c52ff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-descricao {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
  }

  .footer-descricao .footer-ilustracao {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }

  .footer-copy {
    font-size: 0.75rem;
  }
}

@media (max-width: 450px) {
  .footer-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .footer-contato li {
    margin: 5px 0;
  }

  .footer-contato a {
    font-size: 1.2rem;
  }

  .footer-descricao {
    margin-right: 20px;
  }
  .footer-descricao .footer-texto {
    font-size: 1rem;
  }

  .footer-descricao .footer-ilustracao {
    width: 50%;
  }
}
