.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: baseline;
}

.footer .subtitulo {
  color: #fff;
  text-transform: uppercase;
  /* grid-row-start: 1;
  grid-column-start: 1; */
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.footer-contato a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.footer-contato p {
  padding-left: 10px;
}

.footer-contato li {
  border-radius: 4px;
  padding: 5px;
  transition: 0.5s;
}
.footer-contato li:hover {
  background-color: #8c52ff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }

  .footer-copy {
    font-size: 0.75rem;
  }
}

@media (max-width: 450px) {
  .footer-container {
    padding-top: 60px;
  }

  .footer-contato a {
    font-size: 1.2rem;
  }
}
