.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }  
}

.introducao > img {
  /* filter: drop-shadow(0rem 0rem 1rem rgba(20, 20, 180, 0.8)); */
  filter: drop-shadow(0rem 0rem 1.2rem rgba(91, 45, 190, 0.8));
  animation: updown 3s infinite;
}



.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125; /* font-size X line-height X 16 = 80 pixels */
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 13px;
  height: 130px;
  background: url("../img/detalhe-intro.svg") no-repeat center;
  position: absolute;
  left: -30px;
  top: 25px;
}

.introducao h1::after {
  content: "";
  display: none;
  width: 13px;
  height: 80px;
  background: url("../img/detalhe-intro.svg") no-repeat center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

.introducao p img {
  display: inline-block;
}

.introducao .saudacao {
  display: none;
  padding: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 60px;
  }
}

@media (max-width: 450px) {
  .introducao {
    display: block;
    margin: 0;
  }
  .introducao img {
    width: 70%;
    margin: 0px auto;
  }

  .introducao .saudacao {
    display: block;
  }

  .introducao h1 {
    text-align: center;
    padding-top: 20px;
  }

  .introducao h1::after {
    display: block;
    top: 20px;
  }

  .introducao h1::before {
    width: 13px;
    height: 80px;
    top: 20px;
    left: 0px;
  }

  .introducao p {
    font-size: 1rem;
    display: none;
  }
}
